<div class="container" style="background-color: rgba(248, 248, 248, 0.979)!important;">
    <div class="row one"> 
        <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;
        <input class="input-field" type="text" style="background-color: white!important;"><br>
    </div>
    <div class="row two">
       <small class="copyr" style="color: rgba(53, 52, 52, 0.87)!important;">Copyright &copy; 2014 Two Bytes Consulting. <b>Terms & Policies.</b> </small>
       <div class="s-component s-social-media">
          <div class="s-component-content">
            <div class="row">
                <div class="s-social-media-buttons">
                    <div class="col twitter-counter">
                        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" style="position: static; visibility: visible; width: 60px; height: 20px;" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.2d7d9a6d04538bf11c7b23641e75738c.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fb2b.musicovery.com%2F&amp;size=m&amp;text=Saw%20an%20awesome%20one%20pager.%20Check%20it%20out%20%23strikingly&amp;time=1600011815069&amp;url=http%3A%2F%2Fb2b.musicovery.com"></iframe>
                    </div>
                 </div>
                <div class="count-o" style="background: #fff!important;" id="c" data-scribe="component:count"><i style="border-right-color: #000!important; border-radius: 4px;"></i><u style="border-right-color: #fff!important;"></u><span id="count" style="color: #000!important;" class="note">629</span></div>
                <div class="s-social-media-buttons">
                   <div class="col fb-counter">
                      <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=59&layout=button&action=like&size=small&share=false&height=65&appId" width="59" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>  
                   </div>
                </div>
                <div class="count-o" style="background: #fff!important;" id="c" data-scribe="component:count"><i style="border-right-color: #000!important; border-radius: 4px;"></i><u style="border-right-color: #fff!important;"></u><span id="count" style="color: #000!important;" class="note">117</span></div>
            </div>
          </div>
       </div>
    </div>
</div>
