<div class="container" style="background-color: rgba(248, 248, 248, 0.979)!important;">
    <div class="up" style="color: rgba(53, 52, 52, 0.87)!important;">
        <label class="lead">We’re leaders in</label><br>
        <label class="digi">Creative Digital Recruitment</label>
    </div>
    <div class="line">
    </div>
    <div class="add" style="color: rgba(53, 52, 52, 0.87)!important;">
        <p>Based in Surry Hills, the creative hub of Sydney  we  are surrounded by creativity<br>
        and that reflects on the type of jobs we recruit for.</p>
    </div>
    <div>
        <button class="btn">FIND OUT MORE ABOUT US!</button>
    </div>
</div>