.fancy-border {
    max-width: 100%;
    border-top: 5px solid;
    border-image-source: repeating-linear-gradient(to right, rgb(14, 165, 192) 0px, rgb(14, 165, 192) 81px, rgb(9, 108, 153) 81px, rgb(9, 108, 153) 162px, rgb(28, 184, 204) 162px, rgb(28, 184, 204) 243px, rgba(21, 46, 63, 0.493) 243px, rgba(21, 46, 63, 0.493) 324px, rgba(43, 122, 168, 0.719) 324px, rgba(43, 122, 168, 0.719) 405px );
    border-image-slice: 1;
}