<div class="container-fluid" style="background-color: dodgerblue!important;">
    <nav class="navbar navbar-expand-lg">
        <div class="lbs">
           <p class="lb"><a class="navbar-brand" style="color: black!important;" href="#">DEMO APP</a></p>
        </div>
    <!--<div class="collapse navbar-collapse">-->
		<div class="navbar-nav">
           <a class="nav-link active" href="#">HOME</a>
           <a class="nav-link nact" href="#">ABOUT US</a>
           <a class="nav-link nact" href="#">JOBS</a>
           <a class="nav-link nact" href="#">CLIENTS</a>
           <a class="nav-link nact" href="#">EMPLOYERS</a>
           <a class="nav-link nact" href="#">CONTACT US</a>
        </div>
    <!--</div>-->
    </nav>  
</div>