<div class="bgded overlay">
    <!--<div class="wrapper row1">  -->    
      <nav class="navbar navbar-expand-lg">
        <div class="lbs">
          <p class="lb"><a class="navbar-brand" style="color: black!important;" href="#">DEMO APP</a></p>
        </div>
      <!--<div class="collapse navbar-collapse">-->
        <div class="navbar-nav">
          <a class="nav-link active" href="#">HOME</a>
          <a class="nav-link nact" href="#">ABOUT US</a>
          <a class="nav-link nact" href="#">JOBS</a>
          <a class="nav-link nact" href="#">CLIENTS</a>
          <a class="nav-link nact" href="#">EMPLOYERS</a>
          <a class="nav-link nact" href="#">CONTACT US</a>
        </div>
      <!--</div>-->
      </nav> 
   <!--</div>--> 
    <div id="pageintro">
        <p id="look"><i>I’m looking for..</i></p>
        <div class="row row1">
          <input class="input1" id="textb" style="background-color: #fff!important;" type="text" placeholder="Enter a Job Description">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <button type="search" class="btn btn-primary btn1"><i class="fa fa-search"></i> Search</button>
        </div>
        <div class="row row2">
          <div class="check">
            <input type="checkbox" class="check" name="job" value="full">&nbsp;
            <label> <i> Full Time</i></label>&nbsp;&nbsp;&nbsp;
            <input type="checkbox" class="check" name="job" value="part">&nbsp;
            <label> <i> Part Time/Casual/Freelance</i></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div> 
            <select class="custom-select" style="background-color: #fff!important;">
              <option value="default">Select your Location</option> 
            </select>
        </div><br><br><br><br>
        <div class="row row3">
           <button type="submit" (click)="goToPage('registration')" class="btn btn-primary btn2">Register</button>
        </div><br><br>
        <div class="row row4">
          <i class="fa fa-circle fa-2 act" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
          <i class="fa fa-circle fa-2 nact1" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
          <i class="fa fa-circle fa-2 nact1" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
          <i class="fa fa-circle fa-2 nact1" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
        </div>
    </div>  
  </div>
  <app-fancy-border></app-fancy-border>
  <app-about></app-about>
  <app-fancy-border></app-fancy-border>
  <app-subscribe></app-subscribe>
  <app-fancy-border></app-fancy-border>
  <app-footer></app-footer>